In [1]:
# Dependencies
from bs4 import BeautifulSoup
from splinter import Browser
import requests
import pandas as pd

In [2]:
# Initialize mars data dictionary
mars_data = {}

In [3]:
# Scrape the NASA Mars News Site and collect the latest News Title and Paragragh Text. Assign the text to variables 
# that you can reference later.

# URL of NASA Mars News Site
url = 'https://mars.nasa.gov/news/'

In [4]:
# Retrieve page with the requests module
html = requests.get(url)

In [5]:
# Create BeautifulSoup object; parse with 'html.parser'
soup = BeautifulSoup(html.text, 'html.parser')

In [6]:
# Save 'content_title' section in an iterable list
result = soup.find('div', class_='content_title')
result

<div class="content_title">
<a href="/news/8326/nasa-invests-in-visionary-technology/">
NASA Invests in Visionary Technology
</a>
</div>

In [7]:
mars_data["news_title"] = result.a.text.strip()
news_link = result.find('a').get('href')

In [8]:
url = 'https://mars.nasa.gov' + news_link
html = requests.get(url)
soup = BeautifulSoup(html.text, 'html.parser')
result = soup.find('div', class_='wysiwyg_content') 
mars_data["news_p"] = result.find('p').text.strip()  

print (mars_data["news_title"] )
print (mars_data["news_p"] )

NASA Invests in Visionary Technology
NASA is investing in technology concepts that include meteoroid impact detection, space telescope swarms and small orbital debris mapping technologies that may one day be used for future space exploration missions. Five of the concepts are from NASA’s Jet Propulsion Laboratory, Pasadena, California.

In [9]:
# JPL Mars Space Images - Featured Image
# Visit the url for JPL's Featured Space Image here.
# Use splinter to navigate the site and find the image url for the current Featured Mars Image and assign the url string to a variable called featured_image_url.
# Make sure to find the image url to the full size .jpg image.
# Make sure to save a complete url string for this image.

In [10]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

In [11]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [12]:
string = soup.article.get('style')
string

"background-image: url('/spaceimages/images/wallpaper/PIA18048-1920x1200.jpg');"

In [13]:
image_url = string.split("url('/")[1].split("');")[0]

mars_data["featured_image_url"] = "https://www.jpl.nasa.gov/" + image_url
mars_data["featured_image_url"]

'https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA18048-1920x1200.jpg'

In [14]:
# Mars Weather
# Visit the Mars Weather twitter account here and scrape the latest Mars weather tweet from the page. 
# Save the tweet text for the weather report as a variable called mars_weather.

In [15]:
url = 'https://twitter.com/marswxreport?lang=en'
html = requests.get(url)
soup = BeautifulSoup(html.text, 'html.parser')
result = soup.find('div', class_='js-tweet-text-container')
result

<div class="js-tweet-text-container">
<p class="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text" data-aria-label-part="0" lang="en">Sol 2042 (May 05, 2018), Sunny, high -7C/19F, low -72C/-97F, pressure at 7.30 hPa, daylight 05:23-17:20</p>
</div>

In [16]:
mars_data["weather"] = result.find_next('p').text.strip()
mars_data["weather"]

'Sol 2042 (May 05, 2018), Sunny, high -7C/19F, low -72C/-97F, pressure at 7.30 hPa, daylight 05:23-17:20'

In [17]:
# Mars Facts
# Visit the Mars Facts webpage here and use Pandas to scrape the table containing facts about the planet including Diameter, Mass, etc.
# Use Pandas to convert the data to a HTML table string.

In [18]:
url = 'https://space-facts.com/mars/'  
df = pd.read_html(url)[0]
df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [19]:
df = df.set_index(0).rename(columns={1:"value"})
df

                                              value
0
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [20]:
del df.index.name
df

                                              value
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [21]:
html_table = df.to_html()

# Strip unwanted newlines to clean up the table.
html_table.replace('\n', '')    

mars_data["facts"] = html_table
mars_data["facts"]

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>value</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-153 to 20 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [22]:
# Mars Hemispheres
# Visit the USGS Astrogeology site here to obtain high resolution images for each of Mar's hemispheres.
# You will need to click each of the links to the hemispheres in order to find the image url to the full resolution image.
# Save both the image url string for the full resolution hemipshere image, and the Hemisphere title containing the hemisphere 
# name. Use a Python dictionary to store the data using the keys img_url and title.
# Append the dictionary with the image url string and the hemisphere title to a list. This list will contain one dictionary for
# each hemisphere.

In [26]:
hemisphere_image_urls = []

url_list = ['https://astrogeology.usgs.gov/search/map/Mars/Viking/cerberus_enhanced',
            'https://astrogeology.usgs.gov/search/map/Mars/Viking/schiaparelli_enhanced',
            'https://astrogeology.usgs.gov/search/map/Mars/Viking/syrtis_major_enhanced',
            'https://astrogeology.usgs.gov/search/map/Mars/Viking/valles_marineris_enhanced']

for url in url_list:
    html = requests.get(url)
    soup = BeautifulSoup(html.text, 'html.parser')
    
    result = soup.find('div', class_='content')
    title = result.find('h2').text
    
    result = soup.find('div', class_='downloads')
    image_url = result.li.find('a').get('href')

    hemisphere_image_url = {"title": title, "img_url": image_url}
    hemisphere_image_urls.append(hemisphere_image_url)

mars_data["hemisphere_image_urls"] = hemisphere_image_urls
print (mars_data["hemisphere_image_urls"])

[{'title': 'Cerberus Hemisphere Enhanced', 'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'}, {'title': 'Schiaparelli Hemisphere Enhanced', 'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'}, {'title': 'Syrtis Major Hemisphere Enhanced', 'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'}, {'title': 'Valles Marineris Hemisphere Enhanced', 'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]

In [24]:
mars_data

{'facts': '<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>value</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-153 to 20 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>',
 'featured_image_url': 'https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA18048-1920x1200.jpg',
 'hemisphere_image_urls': [{'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg',
   'title': 'Cerberus Hemisphere Enhanced'},
  {'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg',
   'title': 'Schiaparelli Hemisphere Enhanced'},
  {'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg',
   'title': 'Syrtis Major Hemisphere Enhanced'},
  {'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg',
   'title': 'Valles Marineris Hemisphere Enhanced'}],
 'news_p': 'NASA is investing in technology concepts that include meteoroid impact detection, space telescope swarms and small orbital debris mapping technologies that may one day be used for future space exploration missions. Five of the concepts are from NASA’s Jet Propulsion Laboratory, Pasadena, California.',
 'news_title': 'NASA Invests in Visionary Technology',
 'weather': 'Sol 2042 (May 05, 2018), Sunny, high -7C/19F, low -72C/-97F, pressure at 7.30 hPa, daylight 05:23-17:20'}